<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PMSS Landing Page</title>
</head>

<body>
<div th:replace="~{fragments/banner :: banner}"></div>
<div style="width:900px;
            margin:auto;">
    <h1>Welcome to PMSS</h1>
    <p>
        PennStateSoft Meeting Scheduling System
    </p>
    <hr>

    <h1>
        Welcome back,
        <span th:text="${user.firstName}"></span>!
    </h1>

    <!-- CLIENT -->
    <div th:if="${user.role == 'CLIENT'}">
        <h2>Client Dashboard</h2>
        <br>

        <a href="/meetings/create">
            <button style="width:220px;height:45px;">
                Create Meeting
            </button>
        </a>
        <br><br>

        <a href="/schedule">
            <button style="width:220px;height:45px;">
                Meeting Schedule
            </button>
        </a>
        <br><br>

        <a href="/complaints">
            <button style="width:220px;height:45px;">
                File Complaint
            </button>
        </a>
        <br><br>

        <a href="/billing">
            <button style="width:220px;height:45px;">
                Pay Bill
            </button>
        </a>

    </div>

</div>
</body>

</html>