<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PMSS Profile</title>
</head>

<body>

<div>
    <table>
        <tr>
            <td>
                <!-- Superman -->
                <img src="https://imgs.search.brave.com/qQqWUjBKaXT0qw79jSHEjU7MKJ48xBPQFS5rJumNlM0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/dXNhdG9kYXkuY29t/L2djZG4vYXV0aG9y/aW5nL2F1dGhvcmlu/Zy1pbWFnZXMvMjAy/NS8wNy8wMi9VU0FU/Lzg0NDUyNDk3MDA3/LWdldHR5LWltYWdl/cy01MTcyODU1Mzgu/anBnP3dpZHRoPTUx/OSZoZWlnaHQ9NjYw/JmZpdD1jcm9wJmZv/cm1hdD1wanBnJmF1/dG89d2VicA" alt="profile.jpg" width="160" height="200"></td>
                <!-- Batman = https://imgs.search.brave.com/GXYmKzhaJOQMAn9dDhM3xl2vWyzeX3s3dHhyDA_jtTQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS1jbGRucnkucy1u/YmNuZXdzLmNvbS9p/bWFnZS91cGxvYWQv/dF9maXQtNzYwdyxm/X2F1dG8scV9hdXRv/OmJlc3QvbmV3c2Nt/cy8yMDE3XzIzLzIw/MzMzMTYvMTcwNjEw/LWNyb3AtYWRhbS13/ZXN0LWJhdG1hbi0z/LWV3LTExNTZhLmpw/Zw -->
            <td>
                <h3>
                First Name:
                <span th:text="${user.firstName}"></span>
            </h3>

                <h3>
                    Last Name:
                    <span th:text="${user.lastName}"></span>
                </h3></td>
        </tr>
    </table>

    <!-- LOG OUT -->
    <form th:action="@{/logout}" method="post">
        <button type="submit">
            Logout
        </button>
    </form>
</div>



</body>
</html>