<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PMSS Profile</title>
</head>

<body>

<!-- Notes:
        this.userID = userID;
        this.userEmail = userEmail;
        this.passwordHash = passwordHash;
        this.firstName = firstName;DONE
        this.lastName = lastName;DONE
        this.role = role;
        -->

<div>
    <table>
        <tr>
            <td>
                <img src="/profile-image" alt="Profile Image">
            <td>
                <h1>Hello!</h1>
                <h2>
                    <span th:text="${user.displayName}"></span>
                </h2>

                <h3>
                    First Name:
                    <span th:text="${user.firstName}"></span>
                </h3>

                <h3>
                    Last Name:
                    <span th:text="${user.lastName}"></span>
                </h3>

                <h3>
                    Role:
                    <span th:text="${user.role}"></span>
                </h3>
            </td>
        </tr>
    </table>

    <!-- LOG OUT -->
    <form th:action="@{/logout}" method="post">
        <button type="submit">
            Logout
        </button>
    </form>
    <!-- PROFILE -->
    <form th:action="@{/editprofile}" method="post">
        <button type="submit">
            Edit Profile
        </button>
    </form>
</div>



</body>
</html>